body{
color: green;/*cor da fonte*/
background-color: rgb(236, 95, 95) ;/*cor de fundo*/
font-size: 40px; /*tamanho da fonte*/
}
header{


   border: solid 2px aquamarine; /*borda sólida de px preta*/; 
}